/* visual aid */
/* header {
  background-color: blue;
}
main {
  background-color: red;
}
.card1 {
  background-color: green;
}
.card2 {
  background-color: yellow;
}
.card3 {
  background-color: aqua;
}
.card4 {
  background-color: violet;
} */
/* visual aid */
body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  padding: 0 10%;
  color: hsl(234, 12%, 34%);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "card1 card2 card4" ". card3 .";
  gap: 30px;
}
.card {
  background-color: hsl(0, 0%, 98%);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 5px 20px -15px hsl(229, 6%, 66%), 0 10px 30px -15px hsl(229, 6%, 66%), -10px 5px 20px -15px hsl(229, 6%, 66%);
}

.card1 {
  border-top: 5px solid hsl(180, 62%, 55%);
  position: relative;
  top: 50%;
  grid-area: card1;
}
.card2 {
  border-top: 5px solid hsl(0, 78%, 62%);
  grid-area: card2;
}
.card3 {
  border-top: 5px solid hsl(34, 97%, 64%);
  grid-area: card3;
}
.card4 {
  position: relative;
  top: 50%;
  border-top: 5px solid hsl(212, 86%, 64%);
  grid-area: card4;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}
p {
  color: hsl(229, 6%, 66%);
  line-height: 1.5;
  padding: 30px 0 40px 0;
  font-weight: 400;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 10px;
}
.headingInfo {
  padding: 30px 0;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card1 card2" "card3 card4";
  }
  .card {
    top: auto;
  }
}
@media (max-width: 575px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "card1" "card2" "card3" "card4";
  }
  h2 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
